<div class = "message-area">
  <div class = "upper-message">
    <div class = "chat-name">
      <%= message.user.name %>
    </div>
    <div class = "chat-time">
      <%= l message.created_at %>
    </div>
  </div>
  <div class = "lower-message">
    <div class = "chat-message">
      <%= message.content %>
    </div>
  </div>
</div>
  