 <div class = "top-side-bar">
  <div class = "user-name">
    <a href = "#" >Tom</a>
  </div>
  <div class = "chat-button">
    <a href = "#" >チャットを作成する</a>
  </div>
 </div>
  <div class = "bottom-side-bar">
    <div class = "room">
      <div class = "room-name">
        <a href = "#">techroom1</a>
      </div>
    </div>
    <div class = "room">
      <div class = "room-name">
        <a href = "#">techroom2</a>
      </div>
    </div>
  </div>